/* the new form */
@media (min-width: 320px) {
    form#book-form {
        width: 14.86090775988287vw;
        padding-bottom: 40px;
        /* margin-bottom: 15px; */
        padding: -39px;
    }
    .container {
        padding-top: 30px;
        background-color: #d4d4d4ad;
        margin-bottom: 30px;
        margin-top: 20px;
        min-height: 80vh;
        box-shadow: 7px 7px 5px #56848c;
        width: 148%;
        margin-left: -43px;
    }
    button#my-button {
        /* padding-top: 4px; */
        padding: 6px;
        margin-top: 12px;
        /* background-color: #7b9599; */
        background-color: #7e979b;
        color: white;
        font-size: 14px;
    }
    form input {
        padding: 11px;
        margin: 10px;
    }
    section#my-section {
        background-color: whitesmoke;
        width: -11%;
        width: 79%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 70px;
    }
    button.two-button {
        margin-left: 93px;
        padding: 7px;
        margin-bottom: 11px;
        width: 32.93265vw;
        margin-top: 6px;
        background-color: #7e979b;
        color: white;
        letter-spacing: 1px;
    }
    button#details-button {
        background-color: #7e979b;
        color: white;
        padding: 5px;
        width: 38.93265vw;
    }
    #showMain {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-top: 47px;
    }
    /* Teeeeest Teeeeest */
    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
        background-color: #789498;
        color: white;
        padding: 11px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        /* position: fixed; */
        bottom: 23px;
        right: 28px;
        margin: 15px auto;
        width: 144px;
    }
      /* The popup form - hidden by default */
      .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        /* border: 3px solid #f1f1f1; */
        z-index: 9;
        /* top: 0; */
    }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
      }
      /* Full-width input fields */
      .form-container input[type=text], .form-container input[type=password] {
        width: 83%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
      }
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      /* Set a style for the submit/login button */
      .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: #945656;
      }
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }
      form#book-form {
        width: 49.860908vw;
        padding-bottom: 10px;
        /* margin-bottom: 15px; */
        padding: -39px;
    }
    }
      @media (min-width:425px){
        button.two-button {
            margin-left: 260px;
            padding: 7px;
            /* margin-bottom: 19px; */
            width: 32.93265vw;
            margin-top: 21px;
            background-color: #7e979b;
            color: white;
            letter-spacing: 1px;
        }
        button#details-button {
            background-color: #7e979b;
            width: 16vw;
        }
        button#my-button {
            /* padding-top: 4px; */
            padding: 6px;
            margin-top: 12px;
            /* background-color: #7b9599; */
            background-color: #7e979b;
            color: white;
            font-size: 14px;
        }
        form input {
            padding: 11px;
            margin: 10px;
        }
        section#my-section {
            background-color: whitesmoke;
            width: -11%;
            width: 79%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 70px;
        }
        button.two-button {
            margin-left: 93px;
            padding: 7px;
            margin-bottom: 11px;
            width: 32.93265vw;
            margin-top: 6px;
            background-color: #7e979b;
            color: white;
            letter-spacing: 1px;
        }
        .container {
            padding-top: 30px;
            background-color: #d4d4d4ad;
            margin-bottom: 30px;
            margin-top: 20px;
            min-height: 80vh;
            box-shadow: 7px 7px 5px #56848c;
            width: 83%;
            margin: 0 auto;
            /* text-align: -webkit-center; */
        
        }
        button#details-button {
            background-color: #7e979b;
            color: white;
            padding: 5px;
            width: 38.93265vw;
        }
        #showMain {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            margin-top: 47px;
        }
        form#book-form {
            width: 47.860908vw;
            /* padding-bottom: 141px; */
            margin-right: 430px;
            /* margin-bottom: 15px; */
            margin-bottom: 15px;
            margin-left: 130px;
            padding: -39px;
        }
        .form-container input[type=text], .form-container input[type=password] {
            width: 87%;
            padding: 20px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }
      }