@media (min-width: 320px) {
    form {
        display: grid;
        width: 73vw;
        margin-top: 34px;
        margin-left: 13%;
    }
    form input {
        padding: 11px;
    }
    form label{
        padding: 11px;
        background-color: #cecece;
    }
    form button{
        padding: 14px;
        background-color: black;
        color: white;
        border-radius: 5%;
    }
    input[type="radio"]  {
        margin-left: 13%;
    }
    input.first-radio {
        margin-left: 47px;
    }
    button.view-button {
        background-color: #789498;
        padding: 7px;
        width: 37%;
        color: white;
        margin-bottom: 20px;
    }
    }
    @media (min-width:425px){
    form {
        display: grid;
        width: 61vw;
        margin-top: 34px;
        margin-left: 13%;
    }
    button.two-button.del-button {
        margin-left: 141px;
    }
    button.view-button {
        background-color: #789498;
        padding: 7px;
        width: 14%;
        color: white;
        margin-bottom: 20px;
    }
    input.first-radio {
        margin-left: 93px;
    }
    }