@media (min-width: 320px) {
    h1{
        font-size: 20px;
        height: 5.28vh;
        text-align: center;
        color: white;
        background-color:gray;
        padding: 20px;
        font-family:'PT Sans', sans-serif;
    }
    h2{
        font-size: 19px;
        padding: 4%;
        color: white;
        background-color: black;
    }
    input#first-radio {
      margin-left: 18%;
    }
        .topnav {
            overflow: hidden;
            background-color: #333;
            position: relative;
          }
          .topnav #myLinks {
            display: none;
          }
          .topnav a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            text-align: center;
          }
          .topnav a.icon {
            background: white;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
          }
          .topnav a:hover {
            background-color: rgb(134, 134, 134);
            color: white;
        }
          .active {
            background-color: black;
            color: white;
          }     
          #showMain {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }
        .container{
            padding-top: 30px;
            background-color: #d4d4d4ad;
            margin-bottom: 30px;
            margin-top: 20px;
            min-height: 80vh ;
            box-shadow: 7px 7px 5px #56848c;
        }
        .container p{
           width: fit-content;
           font-size: 14px;
           margin: 5px;
           padding: 5px;
           font-weight: bold;
           line-height: 1.5em;
        }
        .container h3{
           font-size: 20px;
           padding: 4px;
           font-weight: bolder;
        }
        .container h4{
          font-size: 15px;
          padding: 4px;
          font-weight: bold;
        }
        img {
            padding-top:35px;
            width:14.641288433382138vw;
        }}