<!-- this code represent top nav menu that will duplicate in each view -->
<div class="topnav">
    <h2>Best Book!</h2>
    <div id="myLinks">
      <a href="/">Home</a>
      <a href="/searches/new">Search for google books API</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>